<ion-view view-title="登录" name="login">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="用户名" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="密码" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">登录</button>
    </ion-content>
</ion-view>